<div class="d-flex" id="message-<%= message.id %>">
    <%= cl_image_tag message.user.photo.key, width: 250,crop: :fill,  class: "avatar-large-message", alt: "avatar-large" %>
    <div>
      <small>
        <strong><%= message.user.first_name %></strong>
      </small>
      <p class="message-content"><%= message.content %></p>
    </div>
</div>
