.amphi-sarah {
  background-image: url('amphi-sarah1.jpg'); /* Chemin vers votre image */

  /* Autres propriétés de style pour le fond d'écran */
  background-size: cover;
  background-position: center;
  height: 800px;
}

.timer {
  margin: 0 auto;
  text-align: center;
  margin-top: 26%;
  font-size: 150px;
  color: white;
  margin-bottom: 40px;
}