

h2 {
  font-family: Bowlby One SC;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px;

    &.apprendre {
      color: #FB5645;
    }

    &.partager {
      color: #BA2749;
    }

    &.clic {
      color: #4D98A2;
    }

    &.decouvrir {
      color: #F9CE06;
    }
}

.homepage-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.image-teacher {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 20px;
}

.image-laptop {
  grid-column: 3/4;
  grid-row: 2/3;
  margin-top: 20px;
}

.keywords {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-left: 29px;
  padding-top: 167px;
  margin-left: -21px;
  margin-top: 200px;
  margin-right: 0px;
}

.baseline {
  grid-column: 2/4;
  grid-row: 1/2;
}

.activities {
  grid-column: 1/3;
  grid-row: 2/3;
  padding-left: 20px;
  padding-top: 50px;
  margin-top:20px;
}

h1 {
  color: #4D98A2;
  font-family: 'Bowlby One SC';
  border: solid 5px white;
  margin-right: 10px;
  margin-top: 30px;
  padding: 10px;

    &#welcome {
      padding-left: 100px;
      margin-left: 100px;
  }

    &#event {
      padding-left: 75px;
    }
}

.event-description {
  padding-left: 80px;
  font-size: 22px;
  font-family: 'Raleway';
  text-align: justify;
  margin-right: 90px;
  padding-right: 28px
}

.welcome-description {
  margin-right: 70px;
  padding-left: 110px;
  margin-left: 100px;
  padding-right: 67px;
  font-size: 20px;
  font-family: 'Raleway';
  text-align: justify;
}

.btn-resources {
  grid-column: 1/2;
  grid-row: 2/3;
}

.bouton-ressources {
  margin-left: 120px;
  font-size: xx-large;
}


.btn-bibli {
  grid-column: 3/4;
  grid-row: 1/2;
}

.bouton-bibli {
  margin-left: 120px;
  margin-bottom: 40px;
  /* margin-top: 164px; */
  /* padding-top: 225px; */
  /* position: sticky; */
  /* top: 40px; */
  align-self: end;
}

.dimensions-laptop {
  height: 98%;
  width: 615px;
}

.dimensions-teacher {
  height: 100%;
  width: 640px;
  margin-right: 20px;
  margin-top: 20px;
}

/* CSS */
.button-89 {
  font-family: 'Bowlby One SC';
  color:#148A99;
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 20px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}