.banner-lib {
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 500px;
}

.main-title {
  margin: 10px;
  color: rgb(189, 13, 13);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
  justify-content: center;
}

.second-title {
  color: rgba(134, 217, 149, 0.951);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: regular;
}

.main-subtitle {
  font-size: 18px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 10px ;
  font-weight: bold;

}

.baseline-container {
  text-align: center;

}

.bibliostyle {
  width: 95%;
  height: 97%;
  margin-left: 20px;
}


.fontbackground {


  width: 1400px;
  height: 800px;
  left: 54px;
  top: 212px;
  margin-left: 10px;

  background-color: linear-gradient(180deg, rgba(156, 39, 73, 0.62) 0%, rgba(245, 201, 0, 0) 100%);
  border-radius: 30px;
  position: absolute;

}

.welcome {
  display: flex;
  left: 25%;
  position: absolute;
  top: 16%;
}

.discover {
  display: flex;
  left: 30%;
  position: absolute;
}
