<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-center">
    <%= link_to root_path do %>
      <%= image_tag("share-logo", class: "navbar-logo") %>
    <% end %>
    <div class="pink-box">
      <div class=" blue-box">
        <%= link_to root_path, class: "navbar-brand" do %>
          <i><Home class="fa-solid fa-house home-logo navbar-brand"></i>
        <% end %>
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://www.qmul.ac.uk/share/media/blizard/images/SHARE-logo-header.png" />
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
        </div>
      </div>
    </div>
  </div>      
</div>
