<h1>Bienvenue sur la home de SHARE</h1>
<p>Le campus virtuel qui vous redonne l'envie d'étudier</p>

<%= link_to "Se rendre aux archives", courses_path %>
<%= link_to "Se rendre à la bibliothèque", library_path(@library) %>

