<div class="container">
  <div class="baseline">
    <h1 class="welcome-sentence">Bienvenue sur le campus, <%= current_user.first_name %></h1>
    <h3 class="baseline">Seul, nous allons plus vite, ensemble nous allons plus loin</h3>
  </div>
  <div class="background-road">
    <div class="welcome-content d-flex">
      <%= image_tag("welcome.png", height: 400) %>
      <div class="welcome-text">
        <p>
          Share est votre campus virtuel. 
          Ici, vous pouvez apprendre, échanger, collaborer et tisser des liens.
        </p>
      </div>
    </div>
    <div class="second-block d-flex" style="border: 1px solid blue">
      <div class="left-block" style="border: 1px solid red">
        <h2>L'espace ressources</h2>
        <%=  image_tag("resources.png", height: 350) %>
        <div class="second-block-text">
          <p>Consulte tous les documents et partage tes cours.</p>
        </div>
      </div>
      <div class="right-block" style="border: 1px solid green">
        <h2>La bibliothèque</h2>
        <%=  image_tag("bibli.png", height: 400) %>
        <div class="second-block-text">
          <p>Echange des infos, des conseils en dialoguant avec les autres étudiants.</p>
        </div>
      </div>
    </div>
  </div>
</div>

