<div class="container">
  <div class="cards">
    <% @courses.each do |course| %>
    <div class="card-title">
      <h3>
        <%= course.title%>
      </h3>
    </div>
      <div class="card-content">
        <%= course.summarize%>
      </div>
  <% end %>
  </div>

</div>
  <%= render "courses/add_course_form" %>
  <%= render "shared/flashes"%>
