/* CSS */
.btn-share {
  justify-self: end;
  font-family: 'Bowlby One SC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.button-55 {
  align-items: center;
  background-color: #0B1B29;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  justify-content: center;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.button-link {
  justify-content: center;
}

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #BA2749, rgb(209, 40, 102));
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  height: 40px;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 90, 184, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 90, 184, 0.5);
}


/* Rectangle 92 */
.buttonjuju{
  width: 19%;
  background: #09233a;
  border-radius: 20px;
  justify-content: center;
  color: #fff;
  align-items: center;
  transition: background-color 0.3s;
  transition: background-color 0.3s, transform 0.3s ease-in-out; /* Groupement des propriétés de transition */
  height: 11vh;
  margin-top: 45%;
}

.buttonjuju:hover {
  background-color: #0B1B29;
  transform: scale(1.1);
}


.bouton-envoyer {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.bouton-envoyer {
  --primary-color: #5a5a5a;
  --hovered-color: #151515;
  position: absolute;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
  left: 92%;
  margin-top: 12px;
  border-radius: 5px;

}

.bouton-envoyer p {
  margin: 0;
  position: relative;
  font-size: 15px;
  color: var(--primary-color);
}

.bouton-envoyer::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.bouton-envoyer p::before {
  position: absolute;
/*   box-sizing: border-box; */
  content: "Envoyer";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.bouton-envoyer:hover::after {
  width: 100%;
}

.bouton-envoyer:hover p::before {
  width: 100%;
}

.bouton-envoyer:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color)
}

.bouton-envoyer svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

/* CSS */
.button-24 {
  background: #BA2749;
  border-radius: 6px;
  box-shadow: rgba(55, 54, 54, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: #ba27497e;
  background-position: 0 0;
  color: #FFFFFF;
  font-weight: bolder;
}

.button-24:active {
  opacity: .2;
}
