/* Rectangle 27 */
.rectangle27 {

  width: 398px;
  height: 300px;
  left: 139px;
  top: 499px;

  // background: linear-gradient(180deg, #BA2749 0%, #BC2C4C 0.01%, #FFDDAA 85.94%, #FFDEAA 100%);
}

.display-event {
  margin-left: 40px;
  margin-top: 67px;
}

.event-cards {
  justify-items: center;
  width: auto ;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  background: linear-gradient(180deg, #1F7E8A 0%, #67A1A9 99.97%, #94B7BB 99.98%, #B3C6C9 99.99%, #D9D9D9 100%);
  border-radius: 25px;
}

.event-card {
  overflow: hidden;
  height: 140px;
  background: white;
  display: flex;
  align-items: center;
  width: 28rem;
  // box-shadow: 2px 2px 2px 3px rgb(26, 102, 112);
  border-radius: 20px;
  border: solid rgb(26, 102, 112) 2px;

    img {
    border-radius: 20%;
    height: 120px;
    width: 120px;
  }

    p {
      color: grey;
      font-size: 14px;
      margin: 0 auto;
    }
}

.event-card img {
  height: auto;
  width: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-top: 10px;
}


.event-intro {
  color: #BA2749;
  border-bottom: solid 2px #BA2749;
  font-weight: bold;
  margin-right: 17px;
}

.event-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: rgb(32, 128, 140);
  font-weight: lighter;
  font-size: large;
  padding-top: 0px;
}

.event-card-produce p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}


.event-infos {
  text-align: center;
  width: 267px;
}

.card-product .card-product-infos {
  padding: 16px;
}
