/* Rectangle 27 */
.rectangle27 {

  width: 398px;
  height: 300px;
  left: 139px;
  top: 499px;

  background: linear-gradient(180deg, #BA2749 0%, #BC2C4C 0.01%, #FFDDAA 85.94%, #FFDEAA 100%);
}

.event-cards {
  justify-items: center;
  width: auto ;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}