.navbar-container {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

/* Group 17 */

.share-txt {
  color:white;
  left: 43%;
  top: 5px;
  font-size: xx-large;
  position: absolute;
  font-family: 'Bowlby One SC';
  margin-right: 20px;
}

/* Rectangle 38 */
.pink-box {
  width: 65%;
  height: 70px;
  background: linear-gradient(180deg, #FFE3E6 99.99%, rgba(18, 25, 37, 0) 100%);
  border-radius: 15px;
  padding: 5px 25px;
  margin-top: 8px;
}


/* Rectangle 29 */
.blue-box {
  width: 100%;
  height:100%;
  background: linear-gradient(180deg, #197783 0%, rgba(21, 125, 138, 0.928118) 68.75%, rgba(32, 135, 148, 0.54) 99.99%, rgba(53, 154, 167, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
}

.tdbord {
  color: black
}



/* BG */

/* position: absolute;
left: 31.24%;
right: -6.99%;
top: 43.42%;
bottom: -10%;

background: #EFEFF2;
border-radius: 44px; */


/* Avatar */

/* position: absolute;
left: 48.88%;
right: 10.23%;
top: 59.97%;
bottom: -9.97%;

mix-blend-mode: normal;
 */

/* Group */

/* position: absolute;
left: 48.88%;
right: 10.23%;
top: 96.61%;
bottom: -9.97%;
 */


/* Vector */

/* position: absolute;
left: 69.17%;
right: 30.53%;
top: 99.73%;
bottom: 0.22%;

background: #84DBFF;
 */

/* Intersect */

/* position: absolute;
left: 48.88%;
right: 10.23%;
top: 96.61%;
bottom: -9.97%;
 */
/* Blue */
// background: #22CCE2;


/* BG */

/* position: absolute;
left: 39.29%;
right: 0.65%;
top: 49.91%;
bottom: -9.97%;

background: #FFA27B;
border-radius: 44px; */


/* Vector */

/* position: absolute;
left: 45.27%;
right: 6.64%;
top: 96.61%;
bottom: -17.48%;
 */
/* Dark Blue */
// background: #66D4E3;


/* Vector */

/* position: absolute;
left: 62.34%;
right: 23.71%;
top: 91.68%;
bottom: 0.27%;

background: #FFD7A3;
 */

/* Group */

/* position: absolute;
left: 60.54%;
right: 21.91%;
top: 93.54%;
bottom: -4.02%;
 */


/* Vector */

/* position: absolute;
left: 69.32%;
right: 21.91%;
top: 93.54%;
bottom: -4.02%;

background: #148A99;
 */

/* Vector */

/* position: absolute;
left: 60.54%;
right: 30.68%;
top: 93.58%;
bottom: -4.02%;

background: #148A99;
 */

/* Group */

/* position: absolute;
left: 56.42%;
right: 17.8%;
top: 68.72%;
bottom: 9.64%;

 */

/* Vector */

/* position: absolute;
left: 59.37%;
right: 20.14%;
top: 68.72%;
bottom: 9.64%;

background: #FFE1B2; */


/* Vector */

/* position: absolute;
left: 78.88%;
right: 17.8%;
top: 79.73%;
bottom: 13.39%;

background: #FFE1B2;
 */

/* Vector */

/* position: absolute;
left: 56.42%;
right: 40.24%;
top: 79.88%;
bottom: 13.39%;

background: #FFE1B2;
 */

/* Vector */

/* position: absolute;
left: 55.95%;
right: 17.24%;
top: 59.97%;
bottom: 4.32%;

background: #324A5E;
 */


/* Vector */

/* position: absolute;
left: 55.95%;
right: 17.24%;
top: 59.97%;
bottom: 4.32%;

background: #1F0951; */


/* Vector */

/* position: absolute;
left: 65.9%;
right: 27.27%;
top: 89.58%;
bottom: 8.86%;

background: #FFFFFF; */


/* chart-bar */

/* position: absolute;
width: 34.74px;
height: 39.49px;
left: 1002.33px;
top: 46.35px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

 */
/* Vector */

/* position: absolute;
left: 10%;
right: 10%;
top: 15%;
bottom: 15%;

background: #FFFFFF; */


/* Group 6 */

/* position: absolute;
width: 322.21px;
height: 40.08px;
left: 265.25px;
top: 42.01px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */


/* Group 8 */

/* position: absolute;
width: 322.21px;
height: 40.08px;
left: 265.25px;
top: 42.01px;
 */


/* home */

/* position: absolute;
width: 16.11px;
height: 14.58px;
left: 571.35px;
top: 54.4px;
 */


/* Ellipse 6 */

/* position: absolute;
width: 44.3px;
height: 40.08px;
left: 265.25px;
top: 42.01px;

background: #FFFFFF;
 */

/* home */

/* position: absolute;
width: 32.22px;
height: 29.15px;
left: 271.7px;
top: 50.76px; */



/* Vector */

/* position: absolute;
left: 10%;
right: 10.12%;
top: 0%;
bottom: 20%;

background: #2792B5;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
