.card-visualisation {
  background-color: rgba(255, 255, 255, 0.447);
  box-shadow: 0 1px 2px #148999c7;
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .card-subtitle {
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    text-shadow: 0.3px 0.3px 0.3px rgb(97, 97, 97);
  }

  .summarize {
    font-size: 14px;
  }

  .pdf {
    margin: 10px;
    border-radius: 5px;
  }
  .visu-text {
    color: black;
    margin-bottom: 5px;
    font-size: 15px;
    text-shadow: 0.2px 0.2px 0.2px rgb(97, 97, 97);
  }
}

.main-container-file {
  width: 300px;
  justify-items: center;
  box-shadow: 0 1px 2px #148999c7;
  border-radius: 20px;

  .file-download {
    background-color: rgba(255, 255, 255, 0.447);
    box-shadow: 255 255 255 0,5;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;


    .btn-file {
      justify-self: end;
      font-family: 'Bowlby One SC';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;

    }

    .icon-file {
      align-self: center;
      margin: 20px 5px 20px 5px;
      height: 150px;
      width: 150px;
    }
  }

  .form-file {
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }

  .form-course {
    align-content: center;
    font-family: 'Bowlby One SC';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-top: 20px;
  }
}
